@import '../../shared/variables.scss';

.profileContainer {
    @include profileContainer;
}

.profileHeader {
    @include profileHeader;
}

.userImg {
    @include userImg;
}

.userNameEdit {
    @include userNameEdit;

    a{
        border-radius: 30px;
        transition: text-shadow 225ms ease;
        padding: 10px 40px;
        
        &:hover {
            font-size: 19px;
            color: #444df2;
            text-shadow: 0px 0px 1px black;
            background-color: #eceefe;
        }
    }
}

.status {
    @include status;
}

.circle {
    @include circle;
}

.profileBottom {
    @include profileBottom;
}

.mailContainer {
    @include profileIconsText;
}