<div class="profileContainer">
    <div class="profileHeader">
        <p>Profile</p>
        <div mat-dialog-close></div>
    </div>
    <img *ngIf="user?.photoURL" class="userImg" [src]="user?.photoURL">
    <div class="userNameEdit">
        <div> {{ user?.displayName }} </div>
        <a (click)="openDialog()">Edit profile</a>
    </div>
    <div class="status" [ngClass]="{'online': isOnline, 'away': !isOnline}">
        <span class="circle"></span> {{ isOnline ? 'Online' : 'Away' }}
      </div>
      
    <div class="profileBottom">
        <img class="mailIcon" src="../../../assets/img/icons/mail_icon.svg" alt="Mail Icon">
        <div class="mailContainer">
            <span>Email-Adress</span>
            <a href="mailto:{{ user.email }}" *ngIf="user">{{ user.email }}</a>
        </div>
    </div>
</div>