@import '../../shared/variables.scss';

.forgotPasswordContent {
    @include login_standard_container;
    gap: 130px;
}

.mainLogo {
    position: relative;
    top: 0;
    height: 50px;
}

.forgotPasswordContainer {
    @include flex_column_center;
    background-color: #eceefe;
}

form {
    @include login_form;
}

.goBackIcon {
    @include go_back_icon;
}

.formHeaderText {
    @include font(20px, 400, 24px);
}

.inputContainer {
    @include login_input;
}

.mailImg {
    height: 13px;
    top: 21px;
}

h2 {
    @include font(46px, 700, 55.2px);
    color: #444df2;
}

.nextBtn {
    @include button;
    @include button_primary;
    @include button_hover;
    margin-left: auto;
    padding: 15px 25px !important;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
}

.notification {
    @include font(20px, 400, 24px);
}

.success {
    color: #444df2;
}

.warning {
    color: red;
}

.loginContainerLinks {
    @include flex_center;
    gap: 50px;

    a {
        padding: 10px 20px;
    }
}

.loginLinks {
    @include login_link;
    text-align: center;
    line-height: 24.5px !important;
}