<img class="mainLogo" src="../../../assets/img/logo_animation.svg">


<div class="forgotPasswordContainer">
    <form>
        <div class="goBackIcon" routerLink="/sign-up"></div>
        <h2>Reset password</h2>
        <span class="formHeaderText">Please enter your email.</span>
        <div class="inputContainer">
            <img class="mailImg" src="../../../assets/img/icons/mail_icon.svg" alt="Email icon">
            <input type="email" placeholder="examplename@email.com" formControlName="email">
        </div>
        <button class="nextBtn" routerLink="/reset-password">Send Email</button>
    </form>
</div>