<div class="forgotPasswordContentMobile">

    <div class="mainLogoContainer">
        <img src="../../../assets/img/logo_animation.svg">
    </div>

    <div class="forgotPasswordContent">
        <div class="forgotPasswordContainer">
            <form [formGroup]="sendMailForm" (ngSubmit)="onSubmit()">
                <div class="loginHeadline">
                    <div class="goBackIcon" routerLink="/login"></div>
                    <h1>Reset password</h1>
                </div>
                <span class="formHeaderText">Please enter your email.</span>
                <div class="inputContainer">
                    <img class="mailImg" src="../../../assets/img/icons/mail_icon.svg" alt="Email icon">
                    <input type="email" placeholder="examplename@email.com" formControlName="email">
                </div>
                <div *ngIf="emailSent" class="notification success">
                    Email sent! Please check your Emails.
                </div>
                <div *ngIf="emailSendFailed" class="notification warning">
                    Email could not be sent. Please check the email address and try again.
                </div>
                <button class="nextBtn" type="submit" [disabled]="!sendMailForm.valid">Send Email</button>
            </form>
        </div>
        <div class="loginContainerLinks">
            <a class="loginLinks" routerLink="/imprint">Imprint</a>
            <a class="loginLinks" routerLink="/data-protection">Data protection</a>
        </div>
    </div>
</div>