<img class="mainLogo" src="../../../assets/img/logo_animation.svg">


<div class="forgotPasswordContainer">
    <form [formGroup]="sendMailForm" (ngSubmit)="onSubmit()">
        <div class="goBackIcon" routerLink="/login"></div>
        <h2>Reset password</h2>
        <span class="formHeaderText">Please enter your email.</span>
        <div class="inputContainer">
            <img class="mailImg" src="../../../assets/img/icons/mail_icon.svg" alt="Email icon">
            <input type="email" placeholder="examplename@email.com" formControlName="email">
        </div>
        <div *ngIf="emailSent" class="notification success">
            Email sent! Redirecting to login.
        </div>
        <div *ngIf="emailSendFailed" class="notification warning">
            Email could not be sent. Please check the email address and try again.
        </div>
        <button class="nextBtn" type="submit" [disabled]="!sendMailForm.valid">Send Email</button>
    </form>
</div>