//////////////////////general styles//////////////////////////
.padding {
  padding: 25px;
}

.d-flex {
  display: flex;
}
/////////////////////specific styles///////////////////////////

.head-of-sidenav {
  display: flex;
  justify-content: center;
  align-items: center;

  .main-channel-img {
    height: 55px;
  }

  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    img {
      height: 20px;
    }
    &:hover {
      cursor: pointer;
      transition: all 225ms ease-in-out;
      border-radius: 100%;
      background-color: #eceefe;
      img {
        transform: scale(1.1);
        filter: brightness(0) saturate(100%) invert(30%) sepia(99%)
          saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
      }
    }
  }
}

.headMenu {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }

  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    img {
      height: 14px;
    }
    &:hover {
      cursor: pointer;
      transition: all 225ms ease-in-out;
      border-radius: 100%;
      background-color: #eceefe;
      img {
        transform: scale(1.1);
        filter: brightness(0) saturate(100%) invert(30%) sepia(99%)
          saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
      }
    }
  }
}

.headName {
  display: flex;
  .firstImg {
    margin-right: 25px;
  }
  img {
    margin-right: 10px;
  }
  &:hover {
    .firstImg {
      transform: scale(1.1);
    }
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%)
      hue-rotate(230deg) brightness(99%) contrast(91%);
  }
}
