<div class="head-of-sidenav padding">

  <img class="main-channel-img" src="./assets/img/codelearning.svg" alt="" />
  <div class="icon-div">
    <img src="./assets/img/icons/edit_square.svg" alt="" />
  </div>
</div>

<!---------------- channels menu start here ------------------------------------------->

<div class="scrolleableContainer">
  <div class="headMenu">
    <div class="headName" (click)="hideChannels()">
      <img class="firstImg" [ngStyle]="{
          transform: arrowImageRotatedChannel
            ? 'rotate(-90deg)'
            : 'rotate(0deg)'}" src="./assets/img/icons/arrow_drop_down.svg" alt="" />
      <img src="./assets/img/icons/workspaces.svg" alt="" />
      <p>Channels</p>
    </div>
    <div class="icon-div" (click)="openDialogToCreateChannel()">
      <img src="./assets/img/icons/add.svg" alt="" />
    </div>
  </div>

  <!---------------- channels list start here ----------------->

  <ul id="allChannels" [ngStyle]="{ display: channelsVisible ? 'unset' : 'none' }">
    <li class="channel">
      <img src="./assets/img/icons/tag.svg" alt="" />
      <p>Developerteam</p>
    </li>
    <li class="channel">
      <img src="./assets/img/icons/tag.svg" alt="" />
      <p>Office-Team</p>
    </li>
  </ul>

  <!---------------- channels can be added here ----------------->
  <div id="addChannel" [ngStyle]="{ display: channelsVisible ? 'flex' : 'none' }" class="addChannel"
    (click)="openDialogToCreateChannel()">
    <img src="./assets/img/icons/add_circle.svg" alt="" />
    <p>Add new Channel</p>
  </div>

  <!---------------------- end of channels menu ------------------------------------------->

  <!------------------- direct messages menu start here ----------------------------------->

  <div class="headMenu">
    <div class="headName" (click)="hideChats()">
      <img class="firstImg" [ngStyle]="{
          transform: arrowImageRotatedChat ? 'rotate(-90deg)' : 'rotate(0deg)'
        }" src="./assets/img/icons/arrow_drop_down.svg" alt="" />
      <img src="./assets/img/icons/account_circle.svg" alt="" />
      <p>Direct messages</p>
    </div>
  </div>

  <!---------------- direct messages list start here ----------------->
  <ul *ngFor="let user of users" id="directMessagesList" [ngStyle]="{ display: chatsVisible ? 'unset' : 'none' }">
    <li class="selectableUserChat">
      <img class="userImg" [src]="user?.photoURL" alt="{{ user?.displayName }}" />
      <p>{{ user?.displayName }}</p>
    </li>

    <!-- <li class="selectableUserChat">
      <img class="userImg" src="./assets/img/avatar1.svg" alt="" />
      <p>Frederik Beck (Du)</p>
    </li>
    <li class="selectableUserChat">
      <img class="userImg" src="./assets/img/avatar2.svg" alt="" />
      <p>Sofia Müller</p>
    </li>
    <li class="selectableUserChat">
      <img class="userImg" src="./assets/img/avatar2.svg" alt="" />
      <p>Noha Braun</p>
    </li>
    <li class="selectableUserChat">
      <img class="userImg" src="./assets/img/avatar2.svg" alt="" />
      <p>Elise Roth</p>
    </li> -->
  </ul>
</div>