//////////////////////general styles//////////////////////////
.padding {
  padding: 25px;
}

.d-flex {
  display: flex;
}

/////////////////////specific styles///////////////////////////

.head-of-sidenav {
  display: flex;
  justify-content: center;
  align-items: center;

  .main-channel-img {
    height: 55px;
  }

  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;

    img {
      height: 20px;
    }

    &:hover {
      cursor: pointer;
      transition: all 225ms ease-in-out;
      border-radius: 100%;
      background-color: #eceefe;

      img {
        transform: scale(1.1);
        filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
      }
    }
  }
}

.headMenu {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }

  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;

    img {
      height: 14px;
    }

    &:hover {
      cursor: pointer;
      transition: all 225ms ease-in-out;
      border-radius: 100%;
      background-color: #eceefe;

      img {
        transform: scale(1.1);
        filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
      }
    }
  }
}

.headName {
  display: flex;

  .firstImg {
    margin-right: 25px;
  }

  img {
    margin-right: 10px;
  }

  &:hover {
    .firstImg {
      transform: scale(1.1);
    }

    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
  }
}

#allChannels {
  padding: 0px 45px 10px 45px;

  .channel {
    display: flex;
    align-items: center;
    margin: 0px 15px 12px 0px;
    height: 30px;

    img {
      margin-inline-start: 25px;
      height: 16px;
      margin-right: 10px;
    }

    p {
      font-size: 18px;
      margin: 0;
    }

    &:hover {
      cursor: pointer;
      transition: all 225ms ease-in-out;
      background-color: #eceefe;
      border-radius: 20px;

      img,
      p {
        filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
        font-weight: 600;
      }
    }
  }
}

.addChannel {
  display: flex;
  align-items: center;
  padding: 0px 0px 20px 68px;

  img {
    height: 16px;
    margin-right: 10px;
  }

  p {
    font-size: 18px;
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;

    img,
    p {
      filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
    }
  }
}

ul {
  padding-inline-start: 50px;
  padding-inline-end: 40px;
}

.selectableUserChat {
  display: flex;
  align-items: center;
  padding: 10px;

  img {
    border-radius: 100%;
    margin-right: 10px;
  }

  p {
    font-size: 18px;
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    background-color: #eceefe;
    border-radius: 20px;

    p {
      filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
      font-weight: 600;
    }
  }
}

.scrolleableContainer {
  height: 470px;
  overflow-x: hidden;
  overflow-y: auto;
}