<div class="head-of-sidenav padding">
  <img class="main-channel-img" src="./assets/img/codelearning.svg" alt="" />
  <div class="icon-div">
    <img src="./assets/img/icons/edit_square.svg" alt="" />
  </div>
</div>

<div class="channelMenu">
  <div class="channelName">
    <img class="firstImg" src="./assets/img/icons/arrow_drop_down.svg" alt="" />
    <img src="./assets/img/icons/workspaces.svg" alt="" />
    <p>Channels</p>
  </div>
  <div class="icon-div">
    <img src="./assets/img/icons/add.svg" alt="" />
  </div>
</div>
