.head-of-sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;

  .main-channel-img {
    height: 55px;
  }

  .icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    img {
      height: 20px;
    }
    &:hover {
      cursor: pointer;
      border-radius: 100%;
      background-color: #eceefe;
    }
  }
}
