@import "../../shared/variables.scss";

.daBubbleIcon {
  position: absolute;
  left: 25px;
  top: 25px;
}

.topPadding {
  padding-top: 10px;
}

.containerImprint {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  gap: 20px;
  border-radius: 30px;
  padding: 40px;
  width: 80vw;

  h1 {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-size: 46px;
    color: #444df2;
  }

  h2 {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #444df2;
  }

  p {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

  a {
    color: #444df2;
  }
}

.containerArrowBack {
  border-radius: 50%;
  display: flex;

  &:hover {
    background-color: #eceefe;
    @include button_hover;
  }

  img {
    &:hover {
      @include button_hover;
      filter: brightness(0) saturate(100%) invert(32%) sepia(83%) saturate(2459%) hue-rotate(227deg) brightness(94%)
        contrast(102%);
    }
  }
}

@media (max-width: 600px) {
  .daBubbleIcon {
    position: unset;

    img {
      height: 65px;
    }
  }

  .imprintAndDataProtectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 38px;
      font-weight: 600;
      line-height: 40px;
    }

    h2 {
      font-size: 28px;
      font-weight: 600;
    }

    p {
      font-size: 18px;
    }
  }
}
