<div class="chatHistoryMainContainer">
    <div class="chatHistoryHeader">
        <div class="userName" (click)="openDialog()">
            <div class="userIconWrapper">
                <img class="userImg" [src]="selectedUser?.photoURL" alt="">
                <img *ngIf="selectedUser?.isOnline" class="statusIcon" src="../../../assets/img/icons/user_online.svg"
                    alt="Online" />
                <img *ngIf="!selectedUser?.isOnline" class="statusIcon" src="../../../assets/img/icons/user_offline.svg"
                    alt="Offline" />
            </div>
            <p>{{ selectedUser?.displayName }}</p>
        </div>
    </div>


    <div class="messagesContainer">
        <div *ngFor="let message of messages" class="directMesageContainer">
            <div class="messageMainContainer">
                <div class="messageChildContainer">
                    <div class="date">
                        <hr>
                        <span>{{ formatDate(message.timestamp) }}</span>
                        <hr>
                    </div>
                    <div class="containerUserNameAndTime">
                        <img class="userImg" [src]="selectedUser?.photoURL" alt="">
                        <div class="nameTimeContainer">
                            <p>{{ selectedUser?.displayName }}</p>
                            <p>{{ formatTime(message.timestamp) }}</p>
                        </div>
                    </div>
                    <p class="message">{{ message.content }}</p>
                </div>
            </div>

            <div class="containerEmojis d-none">
                <img class="completeEmoji" src="assets/img/icons/completeEmoji.svg">
                <img class="handsUpEmoji" src="assets/img/icons/handsUpEmoji.svg">
                <div class="containerAddEmojiIcon">
                    <img class="addEmojiIcon" src="assets/img/icons/addEmojiIcon.svg">
                </div>
                <div class="containerAnswerOnThreadIcon">
                    <img class="answerOnThreadIcon" src="assets/img/icons/answerOnThreadIcon.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="containerTextarea">
        <textarea [(ngModel)]="messageContent" placeholder="Write a message..."></textarea>
        <img class="addIcon" src="assets/img/icons/add.svg">
        <hr>
        <img class="smileyIcon smileyIconHover" src="assets/img/icons/smiley.svg" (click)="toggleEmojiPicker($event)">
        <div class="smileyIcon smileyContainer" *ngIf="showEmojiPicker" #emojiContainer>
            <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
        </div>
        <img class="atIcon" src="assets/img/icons/@Icon.svg">
        <img (click)="sendMessage()" class="sendBtn" src="assets/img/icons/sendBtn.svg">
    </div>
</div>