<div class="chatHistoryMainContainer">
    <div class="chatHistoryHeader">
        <div class="userName" (click)="openDialog()">
            <div class="userIconWrapper">
                <img class="userImg" [src]="messageService.selectedUser?.photoURL" alt="">
                <img *ngIf="messageService.selectedUser?.isOnline" class="statusIcon" src="../../../assets/img/icons/user_online.svg"
                    alt="Online" />
                <img *ngIf="messageService.selectedUser?.isOnline" class="statusIcon" src="../../../assets/img/icons/user_offline.svg"
                    alt="Offline" />
            </div>
            <p>{{ messageService.selectedUser?.displayName }}</p>
        </div>
    </div>


    <!-- Message container -->
    <div #messagesContainer class="messageMainContainer scrolleableContainer">
        <div *ngFor="let group of groupedMessages" class="messageContainer">
            <div class="date">
                <hr>
                <span>{{ group.date }}</span>
                <hr>
            </div>
            <div *ngFor="let message of group.messages" class="displayMessagesContainer">
                <div class="messageChildContainer">
                    <img class="userImg"
                        [src]="message.senderImage">

                    <div class="containerUserNameAndTime">
                        <div class="nameTimeContainer">
                            <p>{{ message.senderName }}</p>
                            <p>{{ this.messageService.formatTime(message.timestamp) }}</p>
                        </div>
                        <span class="message">{{ message.content }}</span>
                    </div>
                </div>

                <!-- Emoji container -->
                <div class="containerEmojis d-none">
                    <img class="completeEmoji" src="assets/img/icons/completeEmoji.svg">
                    <img class="handsUpEmoji" src="assets/img/icons/handsUpEmoji.svg">
                    <div class="containerAddEmojiIcon">
                        <img class="addEmojiIcon" src="assets/img/icons/addEmojiIcon.svg">
                        <div (click)="messageService.selectedUser && messageService.selectedUser.uid
                        && message.id && threadService.openDirectMessageThread(message.id, messageService.selectedUser.uid)" class="containerAnswerOnThreadIcon">
                        <img class="answerOnThreadIcon" src="assets/img/icons/answerOnThreadIcon.svg">
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Message container -->

    <quill-editor [(ngModel)]="messageContent" placeholder="Write a message" (onEditorCreated)="setFocus($event)" [modules]="quillModules">
        <div quill-editor-toolbar>

            <!--------------------------------------- Custom created Container --------------------------------------->
            <div class="mainContainerUploadedDatas">
                <!--------------------------------------- Displays uploaded Images --------------------------------------->
                <div *ngFor="let uploadedImage of storageService?.uploadedImages; let i = index"
                    class="containerUploadedImages">
                    <img class="uploadedImage" [src]="uploadedImage ? uploadedImage : null">
                    <img matTooltipPosition="above" matTooltip="Delete Data"
                        (click)="this.storageService.deleteUploadedDataService(uploadedImage, i)" class="closeIcon"
                        src="assets/img/icons/closeIcon.svg">
                </div>
                <!--------------------------------------- Displays uploaded Images --------------------------------------->


                <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
                <div *ngFor="let uploadedData of storageService.uploadedDatas; let i = index"
                    class="containerUploadedDatas">
                    <iframe class="uploadedData" [src]="uploadedData ? uploadedData : null"></iframe>
                    <img matTooltipPosition="above" matTooltip="Delete Data"
                        (click)="this.storageService.deleteUploadedDataService(uploadedData, i)" class="closeIcon"
                        src="assets/img/icons/closeIcon.svg">
                </div>
                <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
            </div>

            <div class="containerIcons">
                <label for="input" class="containerAddIcon">
                    <img src="assets/img/icons/add.svg" />
                    <input (change)="chooseFiletoUpload($event)" id="input" type="file" hidden />
                </label>

                <hr class="verticalLine" />

                <div class="containerSmileyIcon">
                    <img class="smileyIcon" src="assets/img/icons/smiley.svg" (click)="toggleEmojiPicker()" />
                </div>                

                <div class="containerAtIcon">
                    <img class="atIcon" src="assets/img/icons/@Icon.svg" (click)="triggerAtSymbol()"/>
                </div>
                <img (click)="sendMessage()" class="sendBtn" src="assets/img/icons/sendBtn.svg" />
            </div>
            <!--------------------------------------- Custom created Container --------------------------------------->

        </div>
    </quill-editor>
    <!-- Message textarea -->

</div>