<div class="chatHistoryMainContainer">
    <div class="chatHistoryHeader">
        <div class="userName" (click)="openDialog()">
            <div class="userIconWrapper">
                <img class="userImg" [src]="selectedUser?.photoURL" alt="">
                <img *ngIf="selectedUser?.isOnline" class="statusIcon" src="../../../assets/img/icons/user_online.svg"
                    alt="Online" />
                <img *ngIf="!selectedUser?.isOnline" class="statusIcon" src="../../../assets/img/icons/user_offline.svg"
                    alt="Offline" />
            </div>
            <p>{{ selectedUser?.displayName }}</p>
        </div>
    </div>


    <div class="messagesContainer">
        <div *ngFor="let group of groupMessagesByDate(messages)" class="directMesageContainer">
            <div class="date">
                <hr>
                <span>{{ group.date }}</span>
                <hr>
            </div>
            <div *ngFor="let message of group.messages" class="messageMainContainer">
                <img class="userImg"
                    [src]="message.senderId === loggedInUser?.uid ? loggedInUser?.photoURL : selectedUser?.photoURL"
                    alt="">
                <div class="messageChildContainer">
                    <div class="containerUserNameAndTime">
                        <div class="nameTimeContainer">
                            <p>{{ message.senderId === loggedInUser?.uid ? loggedInUser?.displayName :
                                selectedUser?.displayName }}</p>
                            <p>{{ formatTime(message.timestamp) }}</p>
                        </div>
                        <span class="message">{{ message.content }}</span>
                    </div>
                </div>
            </div>

            <div class="containerEmojis d-none">
                <img class="completeEmoji" src="assets/img/icons/completeEmoji.svg">
                <img class="handsUpEmoji" src="assets/img/icons/handsUpEmoji.svg">
                <div class="containerAddEmojiIcon">
                    <img class="addEmojiIcon" src="assets/img/icons/addEmojiIcon.svg">
                </div>
                <div class="containerAnswerOnThreadIcon">
                    <img class="answerOnThreadIcon" src="assets/img/icons/answerOnThreadIcon.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="containerTextarea">
        <textarea [(ngModel)]="messageContent" placeholder="Write a message..."
            (input)="checkForAtSymbol($event)"></textarea>

        <div *ngIf="showUserDropdown" class="user-dropdown" #userMenu>
            <div *ngFor="let user of foundUsers" (click)="selectUser(user)">
                {{ user.displayName }}
            </div>
        </div>

        <img class="addIcon" src="assets/img/icons/add.svg">
        <hr>
        <img class="smileyIcon smileyIconHover" src="assets/img/icons/smiley.svg" (click)="toggleEmojiPicker($event)">
        <div class="smileyIcon smileyContainer" *ngIf="showEmojiPicker" #emojiContainer>
            <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
        </div>
        <img class="atIcon" src="assets/img/icons/@Icon.svg" (click)="triggerAtSymbol($event)">
        <img (click)="sendMessage()" class="sendBtn" src="assets/img/icons/sendBtn.svg">
    </div>

</div>