<div class="dialogMainContainer">
    <div class="topContainerAddUser">
        <p>Add People</p>

        <div class="closeIconContainer">
            <img mat-dialog-close src="assets/img/icons/closeIcon.svg">
        </div>
    </div>

    <div class="hashtagIconAndChannelNameContainer">
        <img src="assets/img/icons/hashtag.svg">
        <p>{{ channelService.channel.channelName }}</p>
    </div>

    <div class="inputContainer">
        <input type="text" placeholder="enter Name">
    </div>

    <div class="btnContainer">
        <button>add</button>
    </div>
</div>