<img class="mainLogo" src="../../../assets/img/logo_animation.svg">


<div class="signupContainer">
    <form>
        <div class="goBackIcon" routerLink="/login"></div>
        <h2>Create account</h2>
        <span class="formHeaderText">With your name and email address, you've created your new DABubble account.</span>
        <div class="signupInput">
            <img class="userImg" src="../../../assets/img/icons/user_icon.svg" alt="User icon">
            <input type="email" placeholder="Firsname and Lastname" formControlName="name">
        </div>
        <div class="signupInput">
            <img class="mailImg" src="../../../assets/img/icons/mail_icon.svg" alt="Email icon">
            <input type="email" placeholder="examplename@email.com" formControlName="email">
        </div>
        <div class="signupInput">
            <img class="passwordImg" src="../../../assets/img/icons/lock_icon.svg" alt="Lock icon">
            <input type="password" placeholder="Password" formControlName="password">
        </div>
        <button class="nextBtn">Next</button>
    </form>
</div>