<div class="signUpContent">
    <img class="mainLogo" src="../../../assets/img/logo_animation.svg">
    <div class="signupContainer">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="goBackIcon" routerLink="/login"></div>
            <h2>Create account</h2>
            <span class="formHeaderText">With your name and email address, you've created your new DABubble
                account.</span>
            <div class="inputContainer">
                <img class="userImg" src="../../../assets/img/icons/user_icon.svg" alt="User icon">
                <input type="text" placeholder="Firsname and Lastname" formControlName="displayName">
            </div>
            <div class="inputContainer">
                <img class="mailImg" src="../../../assets/img/icons/mail_icon.svg" alt="Email icon">
                <input type="email" placeholder="examplename@email.com" formControlName="email">
            </div>
            <div class="inputContainer">
                <img class="passwordImg" src="../../../assets/img/icons/lock_icon.svg" alt="Lock icon">
                <input type="password" placeholder="Password" formControlName="password">
            </div>
            <div *ngIf="userCreated" class="notification success">
                Verification email sent. Please check your email inbox.
            </div>
            <label class="checkboxContent">
                <input type="checkbox" [(ngModel)]="checked">
                <span class="checkmark"></span>
                I agree to the <a routerLink="/data-protection">data protection</a>.
              </label>              
            <div *ngIf="userExists" class="notification warning">
                User already exists. Please try another email.
            </div>
            <button class="nextBtn" type="submit" [disabled]="!signupForm.valid">Next</button>
        </form>
    </div>
    <div class="loginContainerLinks">
        <a class="loginLinks" routerLink="/imprint">Imprint</a>
        <a class="loginLinks" routerLink="/data-protection">Data protection</a>
    </div>
</div>