@import '../../shared/variables.scss';

.signUpContent {
    @include login_standard_container;
}

.mainLogo {
    position: relative;
    top: 0;
    height: 50px;
}

.signupContainer {
    @include flex_column_center;
    background-color: #eceefe;
}

form {
    @include login_form;
}

.goBackIcon {
    @include go_back_icon;
}

.formHeaderText {
    @include font(20px, 400, 24px);
}

.inputContainer {
    @include login_input;
}

label {
    @include font(16px, 400, 19.2px);
}

.checkboxContent {
    margin-right: auto;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        @include width_height(15px, 15px);
        position: absolute;
        top: -2px;
        left: 0;
        background-color: transparent;
        border: 2px solid #797EF3;
    }

    &:hover .checkmark {
        border-color: #444df2;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked~.checkmark:after {
        display: block;
    }

    .checkmark:after {
        @include width_height(5px, 12px);
        left: 4px;
        top: -1px;
        border: solid #444df2;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

    a {
        @include login_link;
        border: none !important;

        &:hover {
            border: 1px solid #797EF3;
            text-shadow: 0px 0px 1px black;
        }
    }
}


.userImg {
    height: 15px;
    top: 20px;
}

.mailImg {
    height: 13px;
    top: 21px;
}

.passwordImg {
    height: 18px;
    top: 16px;
}

h2 {
    @include font(46px, 700, 55.2px);
    color: #444df2;
}

.nextBtn {
    @include button;
    @include button_primary;
    @include button_hover;
    margin-left: auto;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
}

.notification {
    @include font(20px, 400, 24px);
}

.success {
    color: #444df2;
}

.warning {
    color: red;
}

.loginContainerLinks {
    @include flex_center;
    gap: 50px;

    a {
        padding: 10px 20px;
    }
}

.loginLinks {
    @include login_link;
    text-align: center;
    line-height: 24.5px !important;
}