@mixin justify_content_center {
    display: flex;
    justify-content: center;
}

@mixin align_items_center {
    display: flex;
    align-items: center;
}

@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin space_between {
    display: flex;
    justify-content: space-between;
}

@mixin space_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_direction_column {
    display: flex;
    flex-direction: column;
}

@mixin column_align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin colum_justify_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin justify_space_between_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button {
    @include font(18px, 700, 24.5px);
    border-radius: 25px;
    padding: 15px 0;
}

@mixin button_primary {
    width: 120px;
    color: white;
    background-color: #444df2;
    border: none;

    &:hover {
        background-color: #797ef3;
    }
}

@mixin button_secondary {
    width: 150px;
    color: #444df2;
    background-color: white;

    &:hover {
        color: white;
        background-color: #535af1;
    }
}

@mixin button_hover{
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

@mixin login_links {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    color: #797EF3;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #eceefe;
    transition: text-shadow 0.3s ease;

    &:hover {
        border: 1px solid #797EF3;
        text-shadow: 0px 0px 1px black;
    }
}

@mixin font($size, $weight, $line) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
}

@mixin width_height($width, $height) {
    width: $width;
    height: $height;
}

@mixin margin_left_right($ml, $mr) {
    margin-left: $ml;
    margin-right: $mr;
}

@mixin padding_left_right($pl, $pr) {
    padding-left: $pl;
    padding-right: $pr;
}