<div [ngClass]="{
    chatHistoryFullWidth: toggleWorspaceMenuService.workspaceMenuAreClosed
  }" class="chatHistoryMainContainer">
  <div class="chatHistoryHeader">
    <p>New Message</p>
    <quill-editor class="quill-editor-new-message" [(ngModel)]="messageContent" (onEditorCreated)="setFocus($event)"
      placeholder="At: #channel, or @someone or Mail address" [modules]="quillModules"></quill-editor>


    <!-- <input
      (input)="getInputValue($event)"
      [(ngModel)]="inputValue"
      placeholder="At: #channel, or @someone or Mail address "
      type="text"
    /> -->

    <!-- <div class="dropDownMenuChannels" [ngStyle]="{ display: dropDownMenuChannelsIsOpen ? 'flex' : 'none' }">
      <p *ngFor="let channel of channelService.channelData | async">
        {{ channel.channelName }}
      </p>
    </div> -->

    <div class="dropDownMenuUsers" [ngStyle]="{ display: dropDownMenuUserIsOpen ? 'flex' : 'none' }">
      <div class="containerUser" *ngFor="let userWithCount of users">
        <img [src]="userWithCount.user.photoURL" />

        <img *ngIf="userWithCount.user?.isOnline" class="statusIcon" src="../../../assets/img/icons/user_online.svg" />

        <img *ngIf="!userWithCount.user?.isOnline" class="statusIcon"
          src="../../../assets/img/icons/user_offline.svg" />

        <p>{{ userWithCount.user.displayName }}</p>
      </div>
    </div>
  </div>

  <div class="scrolleableContainer"></div>

  <!-------------------------------------------------- Textfield begins here  -------------------------------------------------->
  <quill-editor class="quill-editor-textarea" (onEditorCreated)="setFocus($event)" placeholder="Start a new Message">
    <div quill-editor-toolbar>
      <!--------------------------------------- Custom created Container --------------------------------------->
      <div class="mainContainerUploadedDatas">
        <!--------------------------------------- Displays uploaded Images --------------------------------------->
        <div *ngFor="
            let uploadedImage of storageService.uploadedImages;
            let i = index
          " class="containerUploadedImages">
          <img (click)="openDetailViewFromUploadedImage(uploadedImage)" class="uploadedImage"
            [src]="uploadedImage ? uploadedImage : null" />
          <img matTooltipPosition="above" matTooltip="Delete Data" (click)="
              this.storageService.deleteUploadedDataService(uploadedImage, i)
            " class="closeIcon" src="assets/img/icons/closeIcon.svg" />
        </div>
        <!--------------------------------------- Displays uploaded Images --------------------------------------->

        <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
        <div *ngFor="
            let uploadedData of storageService.uploadedDatas;
            let i = index
          " class="containerUploadedDatas">
          <iframe class="uploadedData" [src]="uploadedData ? uploadedData : null"></iframe>
          <img matTooltipPosition="above" matTooltip="Delete Data" (click)="
              this.storageService.deleteUploadedDataService(uploadedData, i)
            " class="closeIcon" src="assets/img/icons/closeIcon.svg" />
        </div>
        <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
      </div>

      <div class="containerIcons">
        <label for="input" class="containerAddIcon">
          <img src="assets/img/icons/add.svg" />
          <input (change)="storageService.chooseFileSevice($event)" id="input" type="file" hidden />
        </label>

        <hr class="verticalLine" />

        <div class="containerSmileyIcon">
          <img class="smileyIcon" src="assets/img/icons/smiley.svg" />
        </div>

        <div class="containerAtIcon">
          <img class="atIcon" src="assets/img/icons/@Icon.svg" />
        </div>
        <img class="sendBtn" src="assets/img/icons/sendBtn.svg" />
      </div>
      <!--------------------------------------- Custom created Container --------------------------------------->
    </div>
  </quill-editor>
</div>
<!-------------------------------------------------- Textfield begins here  -------------------------------------------------->