<!-- <p>dialog-create-channel works!</p> -->
<div class="padding">
  <div class="dialogHead">
    <p>Create new Channel</p>
    <div class="closeIconContainer">
      <img mat-dialog-close src="assets/img/icons/closeIcon.svg" />
    </div>
  </div>

  <p class="textContainer">
    Channels are used by your team to communicate. They should ideally be themed
    #marketing for example
  </p>

  <div class="inputHeadAndContainer">
    <p>Channel-Name</p>
    <div class="inputContainer">
      <img src="./assets/img/icons/hashtag.svg" alt="" />
      <input type="text" placeholder="e.g. Marketing" />
    </div>
  </div>

  <div class="inputHeadAndContainer">
    <p>Description (optional)</p>
    <div class="inputContainer">
      <input type="text" placeholder="Write your text here" />
    </div>
  </div>

  <div class="btnContainer">
    <button mat-button mat-dialog-close>Create</button>
  </div>
</div>
