@import "../../shared/variables.scss";

.dialogContainer {
  padding: 30px;
  width: 500px;
}

.dialogHead {
  @include space_between_center;
  p {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
  }
}

.flex-column {
  @include flex_direction_column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.closeIconContainer {
  display: flex;
  padding: 8px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    background-color: #eceefe;
  }

  img {
    &:hover {
      cursor: pointer;
      transition: all 225ms ease-in-out;
      transform: scale(1.1);
      filter: brightness(0) saturate(100%) invert(30%) sepia(99%)
        saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
    }
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: #444df2;
    color: white !important;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    padding: 25px;
    font-family: Nunito, sans-serif !important;

    &:hover {
      transition: all 225ms ease-in-out;
      background-color: #797ef3;
    }
  }
}
