<form type="submit">
  <div class="dialogContainer">
    <div class="dialogHead">
      <p>Add Members</p>
      <div class="closeIconContainer">
        <img mat-dialog-close src="assets/img/icons/closeIcon.svg" />
      </div>
    </div>

    <mat-radio-group class="flex-column" aria-label="Select an option">
      <mat-radio-button color="primary" value="1">Alle Mitglieder hinzufügen</mat-radio-button>
      <mat-radio-button color="primary" value="2">Bestimmte Leute hinzufügen</mat-radio-button>
    </mat-radio-group>
    <div class="inputContainer">
      <input name="addMember" type="text" placeholder="Write Name" />
    </div>

    <div class="btnContainer">
      <button type="submit" mat-button mat-dialog-close>Create</button>
    </div>
  </div>
</form>