@import '../../shared/variables.scss';


.containerTextarea {

    textarea {
        resize: none;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        border: 1px solid #ADB0D9;
        outline: unset;
        border-radius: 20px;
        font-weight: 400;
        font-size: 18px;
        padding: 15px 15px 70px 15px;
        font-family: Nunito, sans-serif;

        &::placeholder {
            color: #686868;
            font-family: Nunito, sans-serif;
        }

        @include hover_input_or_textarea;
        @include focus_input_or_textarea;
    }

    hr {
        margin: 0;
        height: 30px;
        position: absolute;
        left: 70px;
        bottom: 32px;
        border: 1px solid #ADB0D9;
    }
}

.containerAddIcon {
    padding: 8px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 35px;
    bottom: 35px;

    &:hover {
        cursor: pointer;
        transition: all 225ms ease-in-out;
        background-color: #ECEEFE;
    }

    img {

        &:hover {
            transition: all 225ms ease-in-out;
            transform: scale(1.05);
            filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
        }
    }
}

.containerSmileyIcon {
    padding: 8px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 75px;
    bottom: 30px;

    &:hover {
        cursor: pointer;
        transition: all 225ms ease-in-out;
        background-color: #ECEEFE;
    }

    img {

        &:hover {
            transition: all 225ms ease-in-out;
            transform: scale(1.05);
            filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
        }
    }
}

.containerAtIcon {
    padding: 8px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 115px;
    bottom: 30px;

    &:hover {
        cursor: pointer;
        transition: all 225ms ease-in-out;
        background-color: #ECEEFE;
    }

    img {

        &:hover {
            transform: scale(1.05);
            transition: all 225ms ease-in-out;
            filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(2764%) hue-rotate(230deg) brightness(99%) contrast(91%);
        }
    }
}

.sendBtn {
    position: absolute;
    right: 35px;
    bottom: 35px;
}