<img class="daBubbleIcon" src="assets/img/logo_animation.svg">

<div class="containerImprint">
    <div routerLink="/login" class="containerArrowBack">
        <img src="assets/img/icons/arrow_back.svg">
    </div>
    <h1>Imprint</h1>

    <h2>Entries referred to &sect; 5 TMG</h2>
    <p>Tom Petri<br />
        Wilhelmstra&szlig;e 32<br />
        48324 Sendenhorst</p>

    <h2>Contact</h2>
    <p>E-Mail: tom.petri7@gmail.com</p>

    <p>Source:
        <a href="https://www.e-recht24.de/impressum-generator.html"
            target="_blank">https://www.e-recht24.de/impressum-generator.html
        </a>
    </p>
</div>