.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eceefe;
}

.loginHeader {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 50px;
    }
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 18px;
    line-height: 21.6px;

    a {
        color: #797EF3;
        text-decoration: none;
        cursor: pointer;
        transition: all 125ms ease-in-out;
        padding: 5px 10px;
        border-radius: 100px;
        text-align: center;

        &:hover {
            background-color: white;
            font-size: 19px;
            font-weight: 600;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 435px;
    background-color: white;
    border-radius: 30px;
    padding: 40px 50px;
}

.formHeaderText {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.inputContainer {
    position: relative;
    width: 100%;

    img {
        position: absolute;
        left: 20px;
    }

    input {
        border: 1px solid white;
        width: 100%;
        height: 14px;
        background-color: #ECEEFE;
        border-radius: 100px;
        padding: 28px 0 28px 40px;
        box-sizing: border-box;
        transition: all 125ms ease-in-out;

        &:focus {
                outline: 1px solid #444df2;
        }

        &:hover {
            border: 1px solid #686868;
        }

        ::placeholder {
            font-size: 18px;
            font-weight: 500;
            line-height: 21.6px;
        }
    }
    
}

.mailImg {
    height: 13px;
    top: 22px;
}

.passwordImg {
    height: 18px;
    top: 17px;
}

h2 {
    color: #444df2;
    font-size: 46px;
    font-weight: 700;
    line-height: 55.2px;
}

.forgotPasswordLink {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    color: #797EF3;
    transition: all 125ms ease-in-out;
    border-radius: 100px;

    &:hover {
        background-color: #eceefe;
        font-size: 19px;
        font-weight: 600;
    }
}

.alternatively {
    display: flex;
    align-items: center;

    div {
        background-color: #ADB0D9;
        width: 150px;
        height: 1px;
    }

    span {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.googleLoginBtn {
    display: flex;
    justify-content: center;
    background-color: #eceefe;
    color: #444df2;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    padding: 26px 50px; 
    text-align: left; 
    display: inline-flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 100px;
    width: 100%;
    height: 14px;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &::before {
        content: ""; 
        display: inline-block; 
        height: 30px; 
        width: 30px; 
        margin-right: 10px; 
        background-image: url('../../../assets/img/google_logo.svg');
        background-size: cover; 
    }

    &:hover {
        border: 1px solid #444df2;
        font-weight: 600;
    }
}

.loginBottomContainer {
    display: flex;
    gap: 20px;

    button {
        width: 150px;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
        border-radius: 25px;
        padding: 15px 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;
    }
}

.loginBtn {
    color: white;
    background-color: #444df2;
    border: none;
    
    &:hover {
        background-color: #797ef3;
    }
}

.guestLoginbtn {
    color: #444df2;
    background-color: white;
    border: 1px solid #444df2;

    &:hover {
        color: white;
        background-color: #535af1;
    }
}