@import '../../shared/variables.scss';

.loginContent {
    @include colum_justify_center;
    gap: 70px;
    height: 100vh
}

.loginContainer {
    @include flex_column_center;
    background-color: #eceefe;
}

.loginHeader {
    @include space_between_center;
    position: relative;
    top: 0;

    img {
        height: 50px;
        margin: 20px 0 0 75px;
    }
}

.signUpContainer {
    @include font(18px, 400, 21.6px);
    @include flex_direction_column;
    margin: 20px 75px 0 0;

    a {
        padding: 5px 10px;
    }
}

.loginLinks {
    @include login_links;
    text-align: center;
    line-height: 24.5px !important;
}

form {
    @include column_align_center;
    gap: 30px;
    width: 435px;
    background-color: white;
    border-radius: 30px;
    padding: 40px 50px;
}

.formHeaderText {
    @include font(20px, 400, 24px);
}

.inputContainer {
    position: relative;
    width: 100%;

    img {
        position: absolute;
        left: 25px;
    }

    input {
        @include width_height(100%, 14px);
        border: 1px solid white;
        background-color: #ECEEFE;
        border-radius: 100px;
        padding: 28px 0 28px 60px;
        box-sizing: border-box;
        transition: all 225ms ease-in-out;

        &:focus {
                outline: 1px solid #444df2;
        }

        &:hover {
            border: 1px solid #686868;
        }

        ::placeholder {
            @include font(18px, 500, 21.6px);
        }
    }
    
}

.mailImg {
    height: 13px;
    top: 22px;
}

.passwordImg {
    height: 18px;
    top: 17px;
}

h2 {
    @include font(46px, 700, 55.2px);
    color: #444df2;
}

.forgotPasswordLink {
    @include font(18px, 400, 21.6px);
    @include button_hover;
    text-decoration: none;
    padding: 10px 15px;
    color: #797EF3;
    border-radius: 30px;
    transition: text-shadow 225ms ease;

    &:hover {
        font-size: 19px;
        color: #444df2;
        text-shadow: 0px 0px 1px black;
        background-color: #eceefe;
    }
}

.alternatively {
    @include align_items_center;

    div {
        @include width_height(150px, 1px);
        background-color: #ADB0D9;
    }

    span {
        @include font(18px, 400, 24.55px);
        @include margin_left_right(10px, 10px);
    }
}

.googleLoginBtn {
    @include font(18px, 400, 21.6px);
    @include button_hover;
    @include width_height(100%, 14px);
    @include flex_center;
    background-color: #eceefe;
    color: #444df2;
    padding: 26px 50px; 
    text-align: left; 
    border: 1px solid white;
    border-radius: 100px;
    transition: text-shadow 225ms ease;

    &::before {
        @include width_height(30px, 30px);
        content: ""; 
        display: inline-block; 
        margin-right: 10px; 
        background-image: url('../../../assets/img/google_logo.svg');
        background-size: cover; 
    }

    &:hover {
        border: 1px solid #444df2;
        font-size: 19px;
        text-shadow: 0px 0px 1px black;
    }
}

.loginBottomContainer {
    display: flex;
    gap: 20px;

    button {
        @include button_hover;
        @include button;
    }
}

.loginBtn {
    @include button_primary;
}

.guestLoginbtn {
    @include button_secondary;
    border: 1px solid #444df2;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }

  button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .notification {
    @include font(20px, 400, 24px);
  }
  
  .warning {
    color: red;
  }

  .loginContainerBottom {
    @include flex_center;
    gap: 50px;

    a {
        padding: 10px 20px;
    }
  }

  @media(max-width:600px) {
    .signUpContainer {
        display: none;
    }
  }