@import '../../shared/variables.scss';

.loginContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    height: 100vh
}

.loginContainer {
    @include flex_column_center;
    background-color: #eceefe;
}

.loginHeader {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 50px;
    }
}

.signUpContainer {
    @include font(18px, 400, 21.6px);
    display: flex;
    flex-direction: column;

    a {
        @include button_styles;
        color: #797EF3;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 100px;
        text-align: center;
        line-height: 24.5px !important;

        &:hover {
            @include font(19px, 600, 24.5px);
            background-color: white;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 435px;
    background-color: white;
    border-radius: 30px;
    padding: 40px 50px;
}

.formHeaderText {
    @include font(20px, 400, 24px);
}

.inputContainer {
    position: relative;
    width: 100%;

    img {
        position: absolute;
        left: 20px;
    }

    input {
        @include width_height(100%, 14px);
        border: 1px solid white;
        background-color: #ECEEFE;
        border-radius: 100px;
        padding: 28px 0 28px 40px;
        box-sizing: border-box;
        transition: all 125ms ease-in-out;

        &:focus {
                outline: 1px solid #444df2;
        }

        &:hover {
            border: 1px solid #686868;
        }

        ::placeholder {
            @include font(18px, 500, 21.6px);
        }
    }
    
}

.mailImg {
    height: 13px;
    top: 22px;
}

.passwordImg {
    height: 18px;
    top: 17px;
}

h2 {
    @include font(46px, 700, 55.2px);
    color: #444df2;
}

.forgotPasswordLink {
    @include font(18px, 400, 21.6px);
    @include button_styles;
    text-decoration: none;
    padding: 5px 10px;
    color: #797EF3;
    border-radius: 100px;

    &:hover {
        @include font(19px, 600, 21.6px);
        background-color: #eceefe;
    }
}

.alternatively {
    display: flex;
    align-items: center;

    div {
        @include width_height(150px, 1px);
        background-color: #ADB0D9;
    }

    span {
        @include font(18px, 400, 24.55px);
        @include margin_left_right(10px, 10px);
    }
}

.googleLoginBtn {
    @include font(18px, 400, 21.6px);
    @include button_styles;
    @include width_height(100%, 14px);
    display: flex;
    justify-content: center;
    background-color: #eceefe;
    color: #444df2;
    padding: 26px 50px; 
    text-align: left; 
    display: inline-flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 100px;

    &::before {
        @include width_height(30px, 30px);
        content: ""; 
        display: inline-block; 
        margin-right: 10px; 
        background-image: url('../../../assets/img/google_logo.svg');
        background-size: cover; 
    }

    &:hover {
        border: 1px solid #444df2;
        font-weight: 600;
    }
}

.loginBottomContainer {
    display: flex;
    gap: 20px;

    button {
        @include font(18px, 700, 24.5px);
        @include button_styles;
        width: 150px;
        border-radius: 25px;
        padding: 15px 0;
    }
}

.loginBtn {
    color: white;
    background-color: #444df2;
    border: none;
    
    &:hover {
        background-color: #797ef3;
    }
}

.guestLoginbtn {
    color: #444df2;
    background-color: white;
    border: 1px solid #444df2;

    &:hover {
        color: white;
        background-color: #535af1;
    }
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }

  button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .notification {
    @include font(20px, 400, 24px);
  }
  
  .warning {
    color: red;
  }

  .loginContainerBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    a {
        @include font(18px, 400, 21.6px);
        @include button_styles;
        color: #797EF3;
        text-decoration: none;
        border: 1px solid #eceefe;
        padding: 10px 20px;

        &:hover {
            font-weight: 600;
            color: #444df2;
            border: 1px solid #797EF3;
            border-radius: 100px;
        }
    }
  }

  @media(max-width:600px) {
    .signUpContainer {
        display: none;
    }
  }