<div class="threadMainContainer">
    <div class="threadHeader">

        <div class="textInThreadHeader">
            <p class="threadText">Thread</p>
            <img src="assets/img/icons/hashtag.svg">
            <p class="channelName">Developerteam</p>
        </div>

        <div (click)="threadService.closeThreadService()" class="containerCloseIcon">
            <img src="assets/img/icons/closeIcon.svg">
        </div>
    </div>

    <div #messagesContainer class="scrolleableContainer">
        <div class="messageMainContainer">
            <img class="profileImg" src="assets/img/avatar1.svg">

            <div class="messageChildContainer">
                <div class="containerUserNameAndTime">
                    <p class="userName">Tom</p>
                    <p class="time">13:53 Uhr</p>
                </div>

                <span class="messageText">Hallo this is a test</span>
            </div>
        </div>


        <div class="answersInThreadContainer">
            <p>2 Answers</p>
            <hr>
        </div>


        <!------------------------------- Only Placeholder ------------------------------->
        <div class="messageMainContainer">
            <img class="profileImg" src="assets/img/avatar1.svg">

            <div class="messageChildContainer">
                <div class="containerUserNameAndTime">
                    <p class="userName">Tom</p>
                    <p class="time">13:53 Uhr</p>
                </div>

                <span class="messageText">Hallo this is a test</span>
            </div>
        </div>

        <div class="messageMainContainer">
            <img class="profileImg" src="assets/img/avatar1.svg">

            <div class="messageChildContainer">
                <div class="containerUserNameAndTime">
                    <p class="userName">Tom</p>
                    <p class="time">13:53 Uhr</p>
                </div>

                <span class="messageText">Hallo this is a test</span>
            </div>
        </div>
        <!------------------------------- Only Placeholder ------------------------------->


        <!-------------------------------------------------- Textfield begins here  -------------------------------------------------->
        <quill-editor (onEditorCreated)="setFocus($event)" placeholder="Answer..." [modules]="quillModules">
            <div quill-editor-toolbar>
                <!--------------------------------------- Custom created Container --------------------------------------->
                <div class="mainContainerUploadedDatas">
                    <!--------------------------------------- Displays uploaded Images --------------------------------------->
                    <div *ngFor="let uploadedImage of storageService.uploadedImages; let i = index"
                        class="containerUploadedImages">
                        <img (click)="openDetailViewFromUploadedImage(uploadedImage)" class="uploadedImage"
                            [src]="uploadedImage ? uploadedImage : null">
                        <img matTooltipPosition="above" matTooltip="Delete Data"
                            (click)="this.storageService.deleteUploadedDataService(uploadedImage, i)" class="closeIcon"
                            src="assets/img/icons/closeIcon.svg">
                    </div>
                    <!--------------------------------------- Displays uploaded Images --------------------------------------->


                    <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
                    <div *ngFor="let uploadedData of storageService.uploadedDatas; let i = index"
                        class="containerUploadedDatas">
                        <iframe class="uploadedData" [src]="uploadedData ? uploadedData : null"></iframe>
                        <img matTooltipPosition="above" matTooltip="Delete Data"
                            (click)="this.storageService.deleteUploadedDataService(uploadedData, i)" class="closeIcon"
                            src="assets/img/icons/closeIcon.svg">
                    </div>
                    <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
                </div>

                <div class="containerIcons">
                    <label for="input" class="containerAddIcon">
                        <img src="assets/img/icons/add.svg" />
                        <input (change)="storageService.chooseFileSevice($event)" id="input" type="file" hidden />
                    </label>

                    <hr class="verticalLine" />

                    <div class="containerSmileyIcon">
                        <img class="smileyIcon" src="assets/img/icons/smiley.svg" (click)="toggleEmojiPicker()" />
                    </div>                
    
                    <div class="containerAtIcon">
                        <img class="atIcon" src="assets/img/icons/@Icon.svg" (click)="triggerAtSymbol()"/>
                    </div>
                    <img class="sendBtn" src="assets/img/icons/sendBtn.svg" />
                </div>
                <!--------------------------------------- Custom created Container --------------------------------------->
            </div>
        </quill-editor>
        <!-------------------------------------------------- Textfield begins here  -------------------------------------------------->
    </div>
</div>