<div class="threadMainContainer">
    <div class="threadHeader">

        <div class="textInThreadHeader">
            <p class="threadText">Thread</p>
            <img src="assets/img/icons/hashtag.svg">
            <p class="channelName">Developerteam</p>
        </div>

        <div class="containerCloseIcon">
            <img src="assets/img/icons/closeIcon.svg">
        </div>
    </div>

    <div class="scrolleableContainer">
        <div class="messageMainContainer">
            <img class="profileImg" src="assets/img/avatar1.svg">

            <div class="messageChildContainer">
                <div class="containerUserNameAndTime">
                    <p class="userName">Tom</p>
                    <p class="time">13:53 Uhr</p>
                </div>

                <span class="messageText">Hallo this is a test</span>
            </div>
        </div>


        <div class="answersInThreadContainer">
            <p>2 Answers</p>
            <hr>
        </div>


        <!------------------------------- Only Placeholder ------------------------------->
        <div class="messageMainContainer">
            <img class="profileImg" src="assets/img/avatar1.svg">

            <div class="messageChildContainer">
                <div class="containerUserNameAndTime">
                    <p class="userName">Tom</p>
                    <p class="time">13:53 Uhr</p>
                </div>

                <span class="messageText">Hallo this is a test</span>
            </div>
        </div>

        <div class="messageMainContainer">
            <img class="profileImg" src="assets/img/avatar1.svg">

            <div class="messageChildContainer">
                <div class="containerUserNameAndTime">
                    <p class="userName">Tom</p>
                    <p class="time">13:53 Uhr</p>
                </div>

                <span class="messageText">Hallo this is a test</span>
            </div>
        </div>
        <!------------------------------- Only Placeholder ------------------------------->


        <app-textfield-in-thread></app-textfield-in-thread>
    </div>
</div>