<div [ngClass]="{
    chatHistoryFullWidth: toggleWorspaceMenuService.workspaceMenuAreClosed
  }" class="chatHistoryMainContainer">
  <div class="chatHistoryHeader">
    <div (click)="openDialogToEditChannel()" class="channelName">
      <img src="assets/img/icons/hashtag.svg" />
      <p>{{ channelService.channel.channelName }}</p>
      <img src="assets/img/icons/arrow_down.svg" />
    </div>

    <div class="containerUserInChatHistory">
      <div (click)="openDialogToShowMembersInChannel()" class="childContainerUserInChatHistory">
        <img *ngFor="let user of channelService.channel.users.slice(0, 3)" class="user" [src]="user.photoURL" />
        <p class="amountOfUserInChannel">
          {{ channelService.channel.users.length }}
        </p>
      </div>

      <div (click)="openDialogToAddMembersToChannel()" class="containerIconAddUser">
        <img class="iconAddUser" src="assets/img/icons/addUser.svg" />
      </div>
    </div>
  </div>

  <!-- Message container -->
  <div #messagesContainer class="messageMainContainer scrolleableContainer">
    <div *ngFor="let group of groupedMessages" class="messageContainer">
      <div class="date">
        <hr />
        <span>{{ group.date }}</span>
        <hr />
      </div>
      <div *ngFor="let message of group.messages" class="displayMessagesContainer">
        <div class="messageChildContainer">
          <img class="userImg" [src]="message.senderImage" />
          <div class="containerUserNameAndTime">
            <div class="nameTimeContainer">
              <p>
                {{
                message.senderName
                }}
              </p>
              <p>{{ formatTime(message.timestamp) }}</p>
            </div>
            <span class="message">{{ message.content }}</span>
          </div>
        </div>

        <div #popUp *ngIf="emojiPopUpIsOopen" class="containerPopUp">
          <img src="assets/img/icons/completeEmoji.svg">
          <img src="assets/img/icons/handsUpEmoji.svg">
          <img src="assets/img/icons/rocket.svg">
          <img src="assets/img/icons/nerdSmiley.svg">
        </div>

        <!-- Emoji container -->
        <div class="containerEmojis d-none">
          <img (click)="setCheckedIcon()" class="completeEmoji" src="assets/img/icons/completeEmoji.svg" />
          <img (click)="setHandsUpIcon()" class="handsUpEmoji" src="assets/img/icons/handsUpEmoji.svg" />
          <div (click)="openEmojiPopUp()" class="containerAddEmojiIcon">
            <img class="addEmojiIcon" src="assets/img/icons/addEmojiIcon.svg" />
          </div>
          <div (click)="message.id && threadService.openChannelThread(message.id, channelId)"
            class="containerAnswerOnThreadIcon">
            <img class="answerOnThreadIcon" src="assets/img/icons/answerOnThreadIcon.svg" />
          </div>
        </div>

        <!-- Emojis to react on Messages -->
        <div *ngIf="displayCheckedIcon" class="containerCheckIcon">
          <img src="assets/img/icons/completeEmoji.svg">
          <p>1</p>
        </div>


        <div *ngIf="displayHandsUpIcon" class="containerHandsUpIcon">
          <img src="assets/img/icons/handsUpEmoji.svg">
          <p>1</p>
        </div>
        <!-- Emojis to react on Messages -->

      </div>
    </div>
  </div>

  <!-- <app-message></app-message> -->

  <!-------------------------------------------------- Textfield begins here  -------------------------------------------------->
  <quill-editor [(ngModel)]="messageContent" (onEditorCreated)="setFocus($event)"
    placeholder="Message to #{{ channelService.channel.channelName }}" [modules]="quillModules">
    <div quill-editor-toolbar>
      <!--------------------------------------- Custom created Container --------------------------------------->
      <div class="mainContainerUploadedDatas">
        <!--------------------------------------- Displays uploaded Images --------------------------------------->
        <div *ngFor="
            let uploadedImage of storageService.uploadedImages;
            let i = index
          " class="containerUploadedImages">
          <img (click)="openDetailViewFromUploadedImage(uploadedImage)" class="uploadedImage"
            [src]="uploadedImage ? uploadedImage : null" />
          <img matTooltipPosition="above" matTooltip="Delete Data" (click)="
              this.storageService.deleteUploadedDataService(uploadedImage, i)
            " class="closeIcon" src="assets/img/icons/closeIcon.svg" />
        </div>
        <!--------------------------------------- Displays uploaded Images --------------------------------------->

        <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
        <div *ngFor="
            let uploadedData of storageService.uploadedDatas;
            let i = index
          " class="containerUploadedDatas">
          <iframe class="uploadedData" [src]="uploadedData ? uploadedData : null"></iframe>
          <img matTooltipPosition="above" matTooltip="Delete Data" (click)="
              this.storageService.deleteUploadedDataService(uploadedData, i)
            " class="closeIcon" src="assets/img/icons/closeIcon.svg" />
        </div>
        <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
      </div>

      <div class="containerIcons">
        <label for="input" class="containerAddIcon">
          <img src="assets/img/icons/add.svg" />
          <input (change)="storageService.chooseFileSevice($event)" id="input" type="file" hidden />
        </label>

        <hr class="verticalLine" />

        <div class="containerSmileyIcon">
          <img class="smileyIcon" src="assets/img/icons/smiley.svg" (click)="toggleEmojiPicker()" />
        </div>

        <div class="containerAtIcon">
          <img class="atIcon" src="assets/img/icons/@Icon.svg" (click)="triggerAtSymbol()" />
        </div>

        <img class="sendBtn" src="assets/img/icons/sendBtn.svg" (click)="sendMessage()" />
      </div>
      <!--------------------------------------- Custom created Container --------------------------------------->
    </div>
  </quill-editor>
</div>
<!-------------------------------------------------- Textfield begins here  -------------------------------------------------->