<div [ngClass]="{
    chatHistoryFullWidth: toggleWorspaceMenuService.workspaceMenuIsOpen
  }" class="chatHistoryMainContainer">
  <div class="chatHistoryHeader">
    <div (click)="openDialogToEditChannel()" class="channelName">
      <img src="assets/img/icons/hashtag.svg" />
      <p>{{ channelService.channel.channelName }}</p>
      <img src="assets/img/icons/arrow_down.svg" />
    </div>

    <div class="containerUserInChatHistory">
      <div (click)="openDialogToShowMembersInChannel()" class="childContainerUserInChatHistory">
        <img class="user" src="assets/img/avatar1.svg" />
        <img class="user" src="assets/img/avatar2.svg" />
        <img class="user" src="assets/img/avatar3.svg" />
        <p class="amountOfUserInChannel">3</p>
      </div>

      <div (click)="openDialogToAddMembersToChannel()" class="containerIconAddUser">
        <img class="iconAddUser" src="assets/img/icons/addUser.svg" />
      </div>
    </div>
  </div>

  <div class="scrolleableContainer">
    <div class="date">
      <hr />
      <p>Thursday, 03 August</p>
      <hr />
    </div>

    <app-message></app-message>
  </div>

  <!-------------------------------------------------- Textfield begin here  -------------------------------------------------->
  <quill-editor placeholder="Message at...">

  </quill-editor>

  <div class="containerIcons">
    <label for="input" class="containerAddIcon">
      <img src="assets/img/icons/add.svg">
      <input (change)="chooseFile($event)" id="input" type="file" hidden>
    </label>

    <hr class="verticalLine">

    <div class="containerSmileyIcon">
      <img class="smileyIcon" src="assets/img/icons/smiley.svg">
    </div>

    <div class="containerAtIcon">
      <img class="atIcon" src="assets/img/icons/@Icon.svg">
    </div>

    <img class="sendBtn" src="assets/img/icons/sendBtn.svg">
  </div>
</div>
<!-------------------------------------------------- Textfield begin here  -------------------------------------------------->