<app-header></app-header>
<app-workspace-menu-btn></app-workspace-menu-btn>

<div class="matDrawerMainContainer">
  <div class="matDrawerChildContainer" [ngClass]="{
      translateXBack: !toggleWorspaceMenuService.workspaceMenuIsOpen,
      translateX: toggleWorspaceMenuService.workspaceMenuIsOpen
    }">
    <app-sidenav></app-sidenav>
  </div>
  <div
    [ngClass]="{'translateX': toggleWorspaceMenuService.workspaceMenuIsOpen, 'translateXBack': !toggleWorspaceMenuService.workspaceMenuIsOpen}"
    class="router-container">
    <!-- <app-channel></app-channel> -->
    <router-outlet></router-outlet>
    <app-thread></app-thread>
  </div>
</div>