.matDrawerMainContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.matDrawerChildContainer {
  background-color: white;
  border-radius: 30px;
}

.router-container {
  display: flex;
  gap: 15px;
}

.translateX {
  transition: all 225ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.translateXBack {
  transition: all 225ms ease-in-out;
  transform: scale(1);
  transform-origin: left;
}

.translateXThread {
  transition: all 225ms ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}

.translateXThreadBack {
  transition: all 225ms ease-in-out;
  transform: scaleX(1);
  transform-origin: right;
}