.matDrawerMainContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.matDrawerChildContainer {
  background-color: white;
  border-radius: 30px;
}

.router-container {
  display: flex;
  gap: 15px;
}