.mat-drawer-container {
  // display: flex;
  width: 100%;
  background-color: #eceefe;
  // position: unset;
}

.mat-drawer {
  width: 325px;
  margin: 0 0px 0px 15px;
  border-radius: 30px;
  // position: unset;
}

.router-container {
  display: flex;
}