<div class="dialogMainContainer">
    <div class="dialogTopContainer">
        <div class="dialogTopChildContainer">
            <img src="assets/img/icons/hashtag.svg">
            <p>Channel Name (Placeholder)</p>
        </div>

        <div class="closeIconContainer">
            <img mat-dialog-close src="assets/img/icons/closeIcon.svg">
        </div>
    </div>


    <div [class.removeBorder]="showInputToEditChannelName" class="dialogMiddleContainer">
        <div [ngClass]="{'translateToTop': showInputToEditChannelName, 'translateToTBottom': !showInputToEditChannelName}"
            class="textChannelNameAndEditContainer">
            <p class="textChannelName">Channel Name</p>
            <p [class.d-none]="showInputToEditChannelName" (click)="openInputToEditChannelName()" class="textEdit">Edit
            </p>
            <!------------------------ Only displayed when editing the channel name ------------------------>
            <p [class.show]="showInputToEditChannelName" (click)="closeInputToEditChannelName()"
                class="textEdit d-none">
                Save
            </p>
            <!------------------------ Only displayed when editing the channel name ------------------------>
        </div>


        <div [class.d-none]="showInputToEditChannelName" class="channelNameAndHashtagIconContainer">
            <img src="assets/img/icons/hashtag.svg">
            <p>Channel Name (Placeholder)</p>
        </div>


        <!------------------------ Only displayed when editing the channel name ------------------------>
        <div [class.show]="showInputToEditChannelName" class="inputContainer d-none">
            <img src="assets/img/icons/hashtag.svg">
            <input type="text" placeholder="Channel Name (Placeholder)">
        </div>
        <!------------------------ Only displayed when editing the channel name ------------------------>
    </div>


    <div [class.removeBorder]="showInputToEditChannelDescription" class="dialogBottomContainer">
        <div [ngClass]="{'translateToTop': showInputToEditChannelDescription, 'translateToTBottom': !showInputToEditChannelDescription}"
            class="textChannelNameAndEditContainer">
            <p class="textChannelName">Channel Name</p>
            <p [class.d-none]="showInputToEditChannelDescription" class="textEdit"
                (click)="openInputToEditChannelDescription()">
                Edit
            </p>
            <!------------------------ Only displayed when editing the channel description ------------------------>
            <p [class.show]="showInputToEditChannelDescription" (click)="closeInputToEditChannelDescription()"
                class="textEdit d-none">
                Save
            </p>
            <!------------------------ Only displayed when editing the channel description ------------------------>
        </div>

        <p [class.d-none]="showInputToEditChannelDescription">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni eius voluptate rerum unde, asperiores nobis
            neque fuga veniam. Magnam rerum suscipit dolorem repudiandae ipsam tenetur nulla, exercitationem blanditiis
            dolor hic?
        </p>

        <!------------------------ Only displayed when editing the channel description ------------------------>
        <div [class.show]="showInputToEditChannelDescription" class="inputContainer d-none">
            <input style="padding-left: 20px; padding-right: 30px;" type="text" placeholder="Your text here">
        </div>
        <!------------------------ Only displayed when editing the channel description ------------------------>

        <hr>
        <p class="textCreatedBy">Created by</p>
        <p class="userName">User Name (Placeholder)</p>
    </div>


    <div class="btnContainer">
        <button mat-button mat-dialog-close color="primary">Leave Channel</button>
    </div>
</div>