<div class="dialogMainContainer">
    <div class="dialogTopContainer">
        <div class="dialogTopChildContainer">
            <img src="assets/img/icons/hashtag.svg">
            <p>{{ channelService.channel.channelName }}</p>
        </div>

        <div class="closeIconContainer">
            <img mat-dialog-close src="assets/img/icons/closeIcon.svg">
        </div>
    </div>


    <div [class.removeBorder]="showInputToEditChannelName" class="dialogMiddleContainer">
        <div [ngClass]="{'translateToTop': showInputToEditChannelName, 'translateToTBottom': !showInputToEditChannelName}"
            class="textChannelNameAndEditContainer">
            <p class="textChannelName">Channel Name</p>
            <p [class.d-none]="showInputToEditChannelName" (click)="openInputToEditChannelName()" class="textEdit">Edit
            </p>
            <!------------------------ Only displayed when editing the channel name ------------------------>
            <p [class.show]="showInputToEditChannelName" (click)="closeInputToEditChannelName()"
                class="textEdit d-none">
                Save
            </p>
            <!------------------------ Only displayed when editing the channel name ------------------------>
        </div>


        <div [class.d-none]="showInputToEditChannelName" class="channelNameAndHashtagIconContainer">
            <img src="assets/img/icons/hashtag.svg">
            <p>{{ channelService.channel.channelName }}</p>
        </div>


        <!------------------------ Only displayed when editing the channel name ------------------------>
        <div [class.show]="showInputToEditChannelName" class="inputContainer d-none">
            <img src="assets/img/icons/hashtag.svg">
            <input type="text" [placeholder]="channelService.channel.channelName">
        </div>
        <!------------------------ Only displayed when editing the channel name ------------------------>
    </div>


    <div [class.removeBorder]="showInputToEditChannelDescription" class="dialogBottomContainer">
        <div [ngClass]="{'translateToTop': showInputToEditChannelDescription, 'translateToTBottom': !showInputToEditChannelDescription}"
            class="textChannelNameAndEditContainer">
            <p class="textChannelName">Description</p>
            <p [class.d-none]="showInputToEditChannelDescription" class="textEdit"
                (click)="openInputToEditChannelDescription()">
                Edit
            </p>
            <!------------------------ Only displayed when editing the channel description ------------------------>
            <p [class.show]="showInputToEditChannelDescription" (click)="closeInputToEditChannelDescription()"
                class="textEdit d-none">
                Save
            </p>
            <!------------------------ Only displayed when editing the channel description ------------------------>
        </div>

        <p *ngIf="channelService.channel.channelDescription" [class.d-none]="showInputToEditChannelDescription">
            {{ channelService.channel.channelDescription }}
        </p>


        <!------------------------ Only displayed when channel description is empty ------------------------>
        <p *ngIf="channelService.channel.channelDescription == ''" [class.d-none]="showInputToEditChannelDescription">
            Here stand the Channel Description
        </p>
        <!------------------------  Only displayed when channel description is empty ------------------------>


        <!------------------------ Only displayed when editing the channel description ------------------------>
        <div [class.show]="showInputToEditChannelDescription" class="inputContainer d-none">
            <input style="padding-left: 20px; padding-right: 30px;" type="text" placeholder="Your text here">
        </div>
        <!------------------------ Only displayed when editing the channel description ------------------------>


        <hr>
        <p class="textCreatedBy">Created by</p>
        <p class="userName">User Name (Placeholder)</p>
    </div>


    <div class="btnContainer">
        <button mat-button mat-dialog-close color="primary">Leave Channel</button>
    </div>
</div>