// @import "@ctrl/ngx-emoji-mart/picker";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import '~quill-mention/dist/quill.mention.min.css';

/* nunito-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v25-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Nunito, sans-serif !important;
  background-color: #eceefe;
}

app-message {
  position: relative;

  &:hover {
    .containerEmojis {
      transition: all 225ms ease-in-out;
      display: flex !important;
    }
  }
}

app-workspace-menu-btn {
  position: relative;
  z-index: 3;
}

.scrolleableContainer {
  height: 330px;
  overflow-x: hidden;
  overflow-y: auto;

  &:hover {
    &::-webkit-scrollbar-thumb {
      display: flex;
    }
  }
}

/************************************ Change Global Style from MatDialog ************************************/
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  box-shadow: 0 6px 10px 0 #00000033 !important;
}

.mdc-dialog__surface {
  overflow-y: visible !important;
}

/************************************ Change Global Style from MatDialog ************************************/

/************************************ Styles for the Scrollbar ************************************/

/* the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* the draggable scrolling handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
}

/************************************ Styles for the Scrollbar ************************************/

/************************************ Change Global Style from quill-editor ************************************/
.ql-editor.ql-blank::before {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #686868;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  font-size: 18px;
  padding-bottom: 40px;
  font-family: Nunito, sans-serif;
}

.ql-toolbar.ql-snow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: unset;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
  border: unset;
  max-height: 300px;
  padding-bottom: 55px;
  overflow-x: hidden;
  overflow-y: auto;
}

/******** global Style from Direct-Message quill-editor   *********/

.user-dropdown-image {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

/******** global Style from Direct-Message quill-editor   *********/

/************************************ Change Global Style from quill-editor ************************************/

.d-none {
  display: none !important;
}

.show {
  display: flex !important;
}