@import '../../shared/variables.scss';


.containerWorkspaceMenuBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;
    position: absolute;
    top: 395px;
    left: -130px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: rotate(-90deg);
    box-shadow: -4px 4px 7px 0px #00000033;
    background-color: white;
    padding: 15px;

    &:hover {
        @include button_hover;

        p {
            color: #535AF1;
        }

        img {
            filter: brightness(0) saturate(100%) invert(27%) sepia(65%) saturate(4594%) hue-rotate(234deg) brightness(97%) contrast(96%);
        }
    }

    p {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
    }

    img {
        transform: rotate(90deg);
    }
}