<img class="mainLogo" src="../../../assets/img/logo_animation.svg">


<div class="forgotPasswordContainer">
    <form [formGroup]="newPasswordForm">
        <div class="goBackIcon" routerLink="/forgot-password"></div>
        <h2>Reset password</h2>
        <div class="inputContainer">
            <input type="password" placeholder="New password" formControlName="password">
        </div>
        <div class="inputContainer">
            <input type="password" placeholder="Confirm new password" formControlName="confirmPassword">
        </div>
        <div class="errorMessage" *ngIf="newPasswordForm.get('confirmPassword')?.errors?.['notMatching']">
            Passwords do not match!
        </div>
        <button class="changePassword" type="submit" [disabled]="!newPasswordForm.valid">Change password</button>
    </form>
</div>  