<img class="mainLogo" src="../../../assets/img/logo_animation.svg">


<div class="forgotPasswordContainer">
    <form>
        <div class="goBackIcon" routerLink="/sign-up"></div>
        <h2>Reset password</h2>
        <div class="inputContainer">
            <input type="password" placeholder="New password" formControlName="password">
        </div>
        <div class="inputContainer">
            <input type="password" placeholder="Confirm new password" formControlName="password">
        </div>
        <button class="changePassword">Change password</button>
    </form>
</div>  