<div class="resetPasswordContent">
        <img class="dabubbleLogo" src="../../../assets/img/logo_animation.svg">
    <div class="forgotPasswordContainer">
        <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
            <div class="goBackIcon" routerLink="/forgot-password"></div>
            <h2>Reset password</h2>
            <div class="inputContainer">
                <input type="password" placeholder="New password" formControlName="password">
            </div>
            <div class="inputContainer">
                <input type="password" placeholder="Confirm new password" formControlName="confirmPassword">
            </div>
            <div class="notification warning" *ngIf="newPasswordForm.get('confirmPassword')?.errors?.['notMatching']">
                Passwords do not match!
            </div>
            <div class="notification success" *ngIf="passwordResetSuccess">
                Password reset successfully! Redirecting to login...
            </div>
            
            <button class="changePassword" type="submit" [disabled]="!newPasswordForm.valid">Change password</button>
        </form>
    </div>
</div>