@import '../../shared/variables.scss';
@import '../../shared/login_standard.scss';


.resetPasswordContent {
    @include login_standard_container;
}

.mainLogo {
    position: relative;
    top: 0;
    height: 50px;
}

.forgotPasswordContainer {
    @include flex_column_center;
    background-color: #eceefe;
}

form {
    @include column_align_center;
    // @include login_form;
}

.goBackIcon {
    @include button_hover;
    @include width_height(40px, 40px);
    // @include go_back_icon;
}

.formHeaderText {
    @include font(20pxx, 400, 24px);
}

.inputContainer {
    // @include login_input;
}

.mailImg {
    height: 13px;
    top: 21px;
}

h2 {
    @include font(46px, 700, 55.2px);
    color: #444df2;
}

.changePassword {
    @include button_primary;
    padding: 15px 25px !important;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
}

.errorMessage {
    margin-right: auto;
    color: red;
}